.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  column-gap: 40px;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: fit-content;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.bonusInfo {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.bonusAmount {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.dateInfo {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.dateInfoItem {
  font-family: "Open Sans";
  line-height: 24px;
  white-space: nowrap;
  color: #979797;
}

.fireIcon {
  position: relative;
  top: -2px;
  width: 14px;
  height: 17px;
}

.nextButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d4343f;
  border-radius: 50%;
  padding: 0;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  background: none;
  cursor: pointer;
}